# Tasks:

* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)
* What is the average age of men?
* What is the percentage of people who have a Bachelor's degree?
* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
* What percentage of people without advanced education make more than 50K?
* What is the minimum number of hours a person works per week?
* What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?
* What country has the highest percentage of people that earn >50K and what is that percentage?
* Identify the most popular occupation for those who earn >50K in India.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('adult.data.csv')

In [3]:
df.shape

(32561, 15)

In [4]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

#### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (race column

In [5]:
race = df['race'].value_counts()
print(race)

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

In [6]:
race['Amer-Indian-Eskimo']

311

##### What is the average age of men?

In [7]:
mask = df['sex'] == 'Male'
males = df[mask]
average = males['age'].mean()
average

39.43354749885268

#### What is the percentage of people who have a Bachelor's degree?

In [8]:
mask = df['education'] == 'Bachelors'
bach = df[mask]

In [9]:
num_bach = bach.shape[0]
tot_num = df.shape[0]
percentage = (num_bach/tot_num) * 100
percentage

16.44605509658794

#### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:
high_edu = (df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate')
edu = df[high_edu]
mask = edu['salary'] == '>50K'
high_sal = edu[mask].shape[0]
higher_num = edu.shape[0]               
salary = (high_sal/higher_num) * 100
salary

46.535843011613935

#### What percentage of people without advanced education make more than 50K?

In [11]:
low_edu = (df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate')
edu = df[low_edu]
lower_num = edu.shape[0]
mask = edu['salary'] == '>50K'
low_sal = edu[mask].shape[0]
               
low_sal = (low_sal/lower_num) * 100
low_sal

17.3713601914639

#### What is the minimum number of hours a person works per week?

In [12]:
mini = df['hours-per-week'].min()
mini

1

#### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [13]:
mask = df['hours-per-week'] == mini
n_df = df[mask]
num_min_workers = n_df.shape[0]
mask = df['salary'] == '>50K'
num_sal = n_df[mask].shape[0]
mini_perc = (num_sal/num_min_workers) * 100
mini_perc

C:\Users\HP\AppData\Local\Temp/ipykernel_11896/2408407200.py:5: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  num_sal = n_df[mask].shape[0]

10.0

#### What country has the highest percentage of people that earn >50K and what is that percentage?

In [14]:
mask = df['salary'] == '>50K'
high_df = df[mask]
all_ctry = df['native-country'].value_counts()
countries = high_df['native-country'].value_counts()
all_ctry = (countries/all_ctry) * 100
all_ctry = all_ctry.reset_index()
g = all_ctry['native-country'] == all_ctry['native-country'].max()
c = all_ctry[g]
c = np.array(c)
c = c.tolist()
fin_ctry = c[0]
earn_ctry = fin_ctry[0]
earn_ctry

'Iran'

In [15]:
ct_perc = round(fin_ctry[1], 1)
ct_perc

41.9

#### Identify the most popular occupation for those who earn >50K in India.

In [16]:
mask = high_df['native-country'] == 'India'
india = high_df[mask]
popular = india['occupation'].value_counts()
mst_pop = popular[0:1]
pop = mst_pop.reset_index()
pop = np.array(pop['index'])
pop = pop.tolist()
fin_job = pop[0]
fin_job

'Prof-specialty'